* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.container {
    margin: 40px auto 0 auto;
    width: 1140px;
}

h1, h2 {
    color: rgb(0, 141, 0);
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}
h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

.main-text {
    text-align: justify;
    margin-bottom: 10px;
}

.author-text {
    font-size: 22px;
}

.blog-post {
    float: left;
    width: 75%;
    padding-right: 25px;
}

.blog-post > img {
    width: 300px;
}

.other-posts {
    float: left;
    width: 25%;
}

.other-posts div {
    margin-top: 1em;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.author-content {
    padding-top: 20px;
    border-top: 1px solid rgba(172, 159, 159, 0.5);
}

.author-content img {
    height: 120px;
    width: auto;
    border-radius: 50%;
    float: left;
}

.author-text {
    margin-top: 2em;
    margin-left: 6em;
}